section {
  margin-bottom: 3rem;
}

.column {
  margin-bottom: 1rem;
}

.columns {
  margin-bottom: -1rem;
}

body {
  --color-a: #D70207;
  --color-b: #D9B302;
  --color-c: #301395;
  --color-d: #0AB002;
}

.series-legend {
  display: inline-block;
  width: 1em;
  height: 1em;
}

section.distribution .ct-series-a .ct-bar {
  stroke-width: 25px;
}
.series-legend.a, .ct-series-a .ct-bar {
  stroke: var(--color-a);
  background: var(--color-a);
}

.series-legend.b, .ct-series-b .ct-bar {
  stroke: var(--color-b);
  background: var(--color-b);
}

.series-legend.c, .ct-series-c .ct-bar {
  stroke: var(--color-c);
  background: var(--color-c);
}

.series-legend.d, .ct-series-d .ct-bar {
  stroke: var(--color-d);
  background: var(--color-d);
}

.chart {
  position: relative;
}
.legend {
  background: white;
  border: 5px double #555;
  padding: 0.5em;
  position: absolute;
  bottom: 3em;
  left: 4em;
}
